@charset "UTF-8";
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

    @font-face {
        font-family:'PassionOne-Black.';
        src: url(fontes/Passion_One/PassionOne-Black) format('truetype'); 
    }
    :root{
            --fonte-header: 'PassionOne-Black.ttf';
            --fonte-corpo: 'Sriracha-Regular', cursive;
        }

    *{
            padding: 0px;
            margin: 0px;
        }
    html, body{
            min-height: 100vh;
            background-color: darkgray;
        }
    header{

            background-color: black;
            color: white;
            text-align: center;
            
        }
    header > h1{
           
            font-family: var(--fonte-header);
            padding-top: 50px;
            font-variant: small-caps;
            font-size: 10vw;
        }
    header > p{

            font-family: sans-serif;
            padding-bottom: 50px;
            
            
        }
    header a, footer a{
            color: white;
            font-weight: bold;
            text-decoration: none;

        }
    header a:hover, footer a:hover{
        text-decoration: underline;
    }
    footer{
        background-color: black;
        color: white;
        text-align: center;
        padding: 7px;
        }
    section.normal{
        background-color: white;
        color: black;
    }
    section.imagem{
        background-color: rgb(51, 51, 51);
        color: white;
        background-image: url(imagens/background001.jpg);
    }
    section.imagem > p{
        background-color: rgba(0, 0, 0, 0.151);
        width: 400px
    }
   
    section{
        line-height: 2em;
        padding-bottom: 10vh;
        padding-top: 10vh;
        font-family: var(--fonte-corpo);
        font-variant: small-caps;
    }
    /*.imagem{
        background-image: url(imagens/background001.jpg);
    }*/