@charset "UTF-8";
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

    @font-face {
        font-family:'PassionOne-Black.ttf';
        src: url(Passion_One/PassionOne-Black.ttf) format('truetype'); 
    }
    :root{
            --fonte-header: 'PassionOne-Black.ttf';
            --fonte-corpo: 'Sriracha';
        }

    *{
            padding: 0px;
            margin: 0px;
            font-size: 1em;
        }
    html, body{
            min-height: 100vh;
            background-color: darkgray;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    header{

            background-color: black;
            color: white;
            text-align: center;
            
        }
    header > h1{
           
            font-family: var(--fonte-header);
            padding-top: 50px;
            font-variant: small-caps;
            font-size: 10vw;
         
        }
    header > p{

            font-family: sans-serif;
            padding-bottom: 50px;
            
            
        }
    header a, footer a{
            color: white;
            font-weight: bold;
            text-decoration: none;

        }
    header a:hover, footer a:hover{
        text-decoration: underline;
    }
    footer{
        background-color: black;
        color: white;
        text-align: center;
        padding: 7px;
        font-size: medium;
        }
    section.normal{
        background-color: white;
        color: black;
    }
    section.imagem{
        background-color: rgb(51, 51, 51);
        color: white;
        background-image: url(imagens/background001.jpg);
        background-size: cover;
    }
    section.imagem > p{
        padding-bottom: 5px;
        background-color: rgba(0, 0, 0, 0.514);
        display: inline-block;        
        text-shadow: inset 1px 1px 0px black;
     
       
    }
    section > p{
        padding-bottom:2em; 
    }
    section#img01{
        background: black url(imagens/background001.jpg) right no-repeat fixed;
        
    }
    section#img02{
        background: black url(imagens/background002.jpg) center center no-repeat fixed;
        box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.425);
    }
   
    section{
        line-height: 2em;
        padding-left: 3vh;
        padding-top: 10vh;
        padding-bottom: 10vh;
        font-family: var(--fonte-corpo);
        font-size: 3.5vw;
        
        
    }
    /*.imagem{
        background-image: url(imagens/background001.jpg);
    }*/